

<section>
    <form action="<%= cat_rental_requests_url %>" method = "post">

        <label for="cat_id">Dropdown</label>
        <select id="cat_id" name="cat_rental_request[cat_id]">

        </select>

        <% @cats.each do |cat| %>
            <%=  cat.name %>
        <% end %>

        <br>

        <label for="start">Start Date</label>


        <br>

        <label for="end">End Date</label>

        <br>

        <input type="submit" value="Add Rental">

    </form>

</section>
