<section>

    <nav style="margin-left: auto; margin-right: auto">
        <%= link_to 'Index',  cats_url %>
        <%= link_to 'New Cat', new_cat_url %>
        <%= link_to 'New Request', new_cat_rental_request_url %>
    </nav>

    <br>
</section>