<% if action == :edit %>
    <% action_url = cat_url(cat) %>
<% else %>
    <% action_url = cats_url %>
<% end %>


<form>
    <label for="name">Name</label>
    <input id="name" type="text" name="cat[name]" value="<%= cat.name %>">
</form>
