<h1> It's the cats alright.</h1>

<%=  render 'header'%>

<body>
    <section>
        <% @cats.each do |cat| %>
            <div>
                <ul>
                    <%= render cat %>
                    <%= link_to 'The Cat', cat_url(:id => cat.id)%>
                </ul>
            </div>
        <% end %>
    </section>
</body>
