<form action="<%= session_url %>" method="POST">

    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label for="email">Enter Your Email:</label>
    <input type="text" name="session[email]" id="email">

    <br>

    <label for="password">Enter Your Password:</label>
    <input type="text" name="session[password]" id="email">

    <br>
    
    <input type="submit" value="Submit">
</form>