// Use the gear_dropdown.png screenshot as a style guide


#gear {

    position: relative;



}

#gear:hover {
    .gear-dropdown {
        display: block;
    }
}


.gear-dropdown {

    position: absolute;
    display: none;
    top: 35px;
    right: 5px;
    background-color: white;
    border: 1px solid $gray;
    padding: 5px;
    width: 180px;
    box-shadow: -1px 4px 6px 1px rgba(0, 0, 0, 0.09);
    z-index: 1;

}



.gear-dropdown {
    > li:last-of-type {
        margin-top: 10px;
    }
}


.dropdown-subtitle {
    font-size: 16px;
}

.editions {
    padding: 2px;
    border-bottom: 1px solid $light-gray;
}

.editions {

    li {
        margin: 10px 0 10px 0;
    }

    li:hover {
        background-color: $light-gray;
    }

}

.help {


    li {
        margin: 10px 0 10px 0;
    }

    a:hover {
        color: $blue;
        text-decoration: underline;
    }

}

