.main-nav {

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 10px 0;
  border-bottom: 1px solid $dark-gray;


}


.left-nav > ul,
.right-nav > ul {
  display: flex;
  align-items: center;
}



.left-nav {


  > ul {
    > li {
      margin-left: 10px;
      padding: 5px;
      font-family: $sans-serif;
      font-size: 14px;
    }
  }

  span {

    margin-left: 5px;
    

  }
}

.right-nav  {



  > ul {

    > li {
      margin-left: 2.5px;
      font-family: $serif;
      font-size: 14px;
  
    }

    > li:last-of-type {
      padding: 5px;
      margin-left: 2.5px;
      margin-right: 5px;
      font-size: 16px;
  
    }
  }
  
  i {
  }
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {

  background-color: $lightest-gray;

}
