.main-nav {

  background: yellow;
  display: flex;
  justify-content: space-between;
  padding: 5px;

}

.left-nav > ul,
.right-nav > ul {
}

.left-nav {

  > ul {
    > li {
      display: inline;
      font-family: serif;
      font-size: 12px;
      background-color: green;
      margin: auto;

    }
  }

  span {

  }
}

.right-nav  {

  > ul {

    > li {

      display: inline;
      font-family: serif;
      font-size: 12px;
      background-color: green;
      margin: auto;
  
    }

    > li:last-of-type {
      font-size: 24px;
  
    }
  }
  
  i {

  }
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {

}
