
<section>
    <h3 style="display: flex; justify-content: center; background-color: red;">
        <%= @album.title %>
        <br>
        <%= @album.year %>
        <br>
        <%= @album.studio == false ? "Live Album" : "Studio Album" %>
    </h3>
</section>

<%= link_to @album.band.name, band_url(@album.band_id) %>