
<section>
    <h3 style="display: flex; justify-content: center; background-color: red;">
        <%= @band.name %>
    </h3>

    <a href="<%= edit_band_url(@band) %>">Edit <%= @band.name %></a>

</section>