<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Masthead</title>
</head>
<body>
    <header class="masthead">

        <nav class="language-nav">

            <ul>
                <li><a href="#">CSS</a></li>
                <li><a href="#">Ruby</a></li>
                <li><a href="#">HTML</a></li>
                <li><a href="#">Javascript</a></li>

            </ul>
       
        </nav>

        <h1 class="logo">
            <img src="assets/AA_Times_Logo.png" alt="Logo">
        </h1>

        <nav class="masthead-links">

   
            <li>Tuesday, October 18, 2016</li>
            <li>
                <i class="far fa-newspaper"></i>
                <a href="#">Today’s Paper</a>
            </li>
            <li>
                <i class="fas fa-video"></i>
                <a href="#">Video</a>
            </li>
            <li><button type="button">77°F<button></li>
            <li><button type="button">AAO +100%<button></li>


        <h1>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum, totam qui soluta ex quidem blanditiis, earum voluptatem dolore necessitatibus autem vitae nobis illum officia reprehenderit fugiat porro id ea similique.</h1>

        </nav>
    </header>



    
</body>
</html>

Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae libero non perferendis ea, debitis officiis hic esse nemo expedita labore. Asperiores, cum. Vitae a perferendis tempore numquam, voluptates voluptate alias?