<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Masthead</title>
</head>
<body>
    <header class="masthead">

        <nav class="language-nav">

            <ul>
                <li><a href="#">CSS</a></li>
                <li><a href="#">Ruby</a></li>
                <li><a href="#">HTML</a></li>
                <li><a href="#">Javascript</a></li>

            </ul>
       
        </nav>

        <h1 class="logo">
            <img src="assets/AA_Times_Logo.png" alt="Logo">
        </h1>

        <nav class="masthead-links">

   
            <li>Tuesday, October 18, 2016</li>
            <li>
                <i class="far fa-newspaper"></i>
                <a href="#">Today’s Paper</a>
            </li>
            <li>
                <i class="fas fa-video"></i>
                <a href="#">Video</a>
            </li>
            <li><button type="button">77°F<button></li>
            <li><button type="button">AAO +100%<button></li>

        </nav>
    </header>



    
</body>
</html>
